[submodule "cut"]
	path = cut
	url = https://github.com/eMYKion/contrastive-unpaired-translation.git
[submodule "quickdraw"]
	path = quickdraw
	url = https://github.com/eMYKion/quickdraw-dataset.git
[submodule "ganSketching"]
	path = ganSketching
	url = https://github.com/eMYKion/GANSketching.git
